---
import Base from "../../layouts/Base.astro";

import CardInvite from "../../components/Card_invite.astro";

import {getInvite} from "../../../backend/backend.mjs";
const invites = await getInvite();
---

<Base Titre="Invités">
    <div class="flex flex-wrap justify-between gap-y-5 px-5 lg:px-40  py-10">
        {
            invites.map((invite) => (
                <CardInvite {...invite} />
            ))
        }
    </div>
</Base>