/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* Fonts */
    --font-title: "Rajdhani", sans-serif;
    --font-texte: "Roboto", sans-serif;

    /* Colors */
    --color-black: #202426;
    --color-gray: #8c8c88;
    --color-white: #f2f2f2;
    --color-green-dark: #6c733d;
    --color-green-light: #ccd97d;
}

@layer base {
    h1 {
        @apply font-title font-bold text-4xl tracking-widest lg:text-6xl;
    }
    h2 {
        @apply font-title font-bold text-2xl tracking-wide lg:text-4xl;
    } 
    h3 {
        @apply font-texte font-medium text-xl;
    }
    body {
        @apply font-texte font-medium text-base text-black;
    }
}

@layer components {
    .button-link {
        @apply bg-green-light w-full lg:w-1/2 flex items-center justify-center uppercase font-black gap-2.5 py-5 px-2.5 rounded-xl;
    }
}