/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* Fonts */
    --font-title: "Rajdhani", sans-serif;
    --font-texte: "Roboto", sans-serif;

    /* Colors */
    --color-text-black: #202426;
    --color-text-gray: #8c8c88;
    --color-text-white: #f2f2f2;
    --color-green-dark: #6c733d;
    --color-green-light: #9da65d;
}