---
const {...activite} = Astro.props;
---

<a href=`/activite/${activite.id}` class="flex flex-col justify-between w-1/4 lg:w-1/5 border-2 border-black rounded-xl p-2">
    <p>{activite.titre}</p>
    <img src={activite.image} alt={activite.titre} class="rounded-md">
</a>