---
import Buy from "../assets/svg/Buy_green.svg";

import Base from "../layouts/Base.astro";
---

<Base>
	<div class="flex flex-col gap-5 items-center px-5 mt-14">
		<h2>Billetterie</h2>
		<div class="flex gap-4">
			<div
				class="bg-black text-white flex flex-col gap-5 justify-between items-center rounded-lg p-2.5"
			>
				<h3 class="text-center">Pass 3 permiers jours</h3>
				<p class="text-center">Du 12 au 14 Novembre</p>
				<p>25 €</p>
				<Buy />
			</div>
			<div
				class="bg-black text-white flex flex-col gap-5 justify-between items-center rounded-lg p-2.5"
			>
				<h3 class="text-center">Pass 3 permiers jours</h3>
				<p class="text-center">Du 12 au 14 Novembre</p>
				<p>25 €</p>
				<Buy />
			</div>
			<div
				class="bg-black text-white flex flex-col gap-5 justify-between items-center rounded-lg p-2.5"
			>
				<h3 class="text-center">Pass 3 permiers jours</h3>
				<p class="text-center">Du 12 au 14 Novembre</p>
				<p>25 €</p>
				<Buy />
			</div>
		</div>
	</div>

	<div class="flex flex-col gap-5 items-center px-5 mt-14">
		<h2>À Propos</h2>
		<p>
			<strong class="font-bold">CINEMAGNY</strong> est un festival audiovisuel localisé à <a href="" class="text-green-light">Giromagny</a> dédié
			exclusivement au 7ᵉ art. Il proposera une sélection variée de films
			allant des longs au court métrage, ainsi que des documentaires ou
			films d’animation. L’objectif est de célébrer le cinéma dans toute
			sa diversité et de mettre en avant des œuvres, méconnu, innovante ou
			originale. La particularité de ce festival sera son engagement à
			mettre en avant des talents émergent du cinéma indépendant et mettre
			en lumière des artistes locaux. <strong class="font-bold">CINEMAGNY</strong> offrira une plateforme aux
			nouveaux réalisateurs pour présenter leurs œuvres aussi bien au
			public qu’au professionnel de l’industrie audiovisuel. Le tout
			pourrait être agrémenter d’avant-première exclusives d’hommage et
			rétrospectives à des figures emblématiques du cinéma.
		</p>
	</div>
</Base>
