---
import Insta from "../assets/svg/insta.svg";
import Facebook from "../assets/svg/facebook.svg";
import Tiktok from "../assets/svg/tiktok.svg";
import Youtube from "../assets/svg/youtube.svg";
---

<footer class="bg-black text-white py-8 px-5 flex flex-col gap-8">
    <h1>Cinémagny</h1>
    <div>
        <h3 class="uppercase">Menu</h3>
        <div class="flex flex-col ml-8 mt-2.5 gap-1">
            <a href="">Mentions Légales</a>
            <a href="">Archive</a>
            <a href="">Contact & Accès</a>
        </div>
    </div>
    <div>
        <h3 class="uppercase">Contact</h3>
        <div class="flex flex-col ml-8 mt-2.5 gap-1">
            <a href="">09 55 64 84 50</a>
            <a href="">cinémagny@gmail.com</a>
        </div>
    </div>
    <div>
        <h3 class="uppercase">Nous suivre</h3>
        <div class="flex ml-8 mt-2.5 gap-8">
            <Insta />
            <Facebook />
            <Tiktok />
            <Youtube />
        </div>
    </div>
</footer>