---
import Buy from "../assets/svg/icons8_buy.svg";
import CloseMenu from "../assets/svg/Close_menu.svg";
import Book from "../assets/svg/Vector.svg";
import Billet from "../assets/svg/billet_blanc.svg";
import Films from "../assets/svg/films_blanc.svg";
import Prog from "../assets/svg/clalendar_blanc.svg";
import Invit from "../assets/svg/profile_blanc.svg";
import Info from "../assets/svg/about_blanc.svg";
import Contact from "../assets/svg/mail_blanc.svg";
---

<nav
    :aria-hidden="!open"
    class="bg-green-dark fixed inset-0 max-lg:aria-hidden:hidden lg:visible lg:relative lg:bg-transparent"
>
    <div class="flex justify-between py-5 px-8 lg:hidden">
        <Buy />
        <button @click="open = false" class="cursor-pointer">
            <CloseMenu />
        </button>
    </div>
    <div class="flex flex-col gap-4 py-5 px-8 lg:flex-row lg:p-0 lg:*:*:font-normal">
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Book />
            </span>
            <a href="/a_propos" class="text-white uppercase font-bold"
                >À Propos</a
            >
        </div>
        <span class="bg-white w-full h-0.75 relative lg:hidden"></span>
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Billet />
            </span>
            <a href="/billeterie" class="text-white uppercase font-bold"
                >Billeterie</a
            >
        </div>
        <span class="bg-white w-full h-0.75 relative lg:hidden"></span>
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Films />
            </span>
            <a href="/films/" class="text-white uppercase font-bold">Films</a>
        </div>
        <span class="bg-white w-full h-0.75 relative lg:hidden"></span>
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Prog />
            </span>
            <a href="/programmation" class="text-white uppercase font-bold"
                >Programmation</a
            >
        </div>
        <span class="bg-white w-full h-0.75 relative lg:hidden"></span>
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Invit />
            </span>
            <a href="/invites/" class="text-white uppercase font-bold"
                >Invités</a
            >
        </div>
        <span class="bg-white w-full h-0.75 relative lg:hidden"></span>
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Info />
            </span>
            <a href="/info" class="text-white uppercase font-bold"
                >Infos pratiques</a
            >
        </div>
        <span class="bg-white w-full h-0.75 relative lg:hidden"></span>
        <div class="flex gap-5 items-center">
            <span class="lg:hidden">
                <Contact />
            </span>
            <a href="/contact" class="text-white uppercase font-bold"
                >Contact</a
            >
        </div>
    </div>
</nav>
